.header {
  background: linear-gradient(#e5a5c2, #fff0f5);
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 36pt;
  flex: 0.8;
  padding-left: 2%;
}

.navigation {
  flex: 0.2;
}

.navigationLink {
  font-size: 24pt;
  padding: 10%;
}
